<div class="grid gap-2">
  <label>
    Starting value ($)
    <input
      type="number"
      min="0"
      value={{this.inputs.amount}}
      {{on 'input' this.updateStartingValue}}
    >
  </label>

  <label>
    Use 7-day average
    <input
      type="checkbox"
      checked={{this.inputs.weekAverage}}
      {{on 'change' this.toggle7Day}}
    >
  </label>

  <label>
    DEX

    <select {{on 'change' this.updateDex}}>
      {{#each this.inputs.DEXes as |dex|}}
        <option value={{dex}}>{{dex}}</option>
      {{/each}}
    </select>
  </label>
</div>