<table style="width: 100%">
  <thead>
    <tr>
      <th>Pool</th>
      <th>Fee %</th>
      <th>TVL</th>
      <th>Your Share</th>
      <th>Volume</th>
      <th>Estimated
      {{#if this.inputs.is7DayAverage}}
        Week
      {{else}}
        24 hour
      {{/if}}
      Fees</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.poolsQuery.loading}}
      <tr><td>loading</td></tr>
    {{else}}
      {{#each this.sortedData key='id' as |pool|}}
        <tr>
          <td>
            <a href="https://info.uniswap.org/#/pools/{{pool.id}}" target="_blank" rel="noopener noreferrer">
              {{pool.name}}
            </a>
          </td>
          <td>{{pool.rate}} %</td>
          <td>{{currency pool.tvl}}</td>
          <td>{{round (percent pool.yourShare) 3}} %</td>
          <td>{{currency pool.volume}}</td>
          <td>{{currency pool.expectedIncome}}</td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
